In [1]:
import pandas as pd
import matplotlib.pyplot as plt 
import numpy as np
%matplotlib inline
import seaborn as sns

In [2]:
df=pd.read_csv('training_set_features.csv')
df.head()
mf=pd.read_csv('training_set_labels.csv')
mf

       respondent_id  xyz_vaccine  seasonal_vaccine
0                  0            0                 0
1                  1            0                 1
2                  2            0                 0
3                  3            0                 1
4                  4            0                 0
...              ...          ...               ...
26702          26702            0                 0
26703          26703            0                 0
26704          26704            0                 1
26705          26705            0                 0
26706          26706            0                 0

[26707 rows x 3 columns]

In [3]:
df.head()

,respondent_id,xyz_concern,xyz_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,...,income_poverty,marital_status,rent_or_own,employment_status,hhs_geo_region,census_msa,household_adults,household_children,employment_industry,employment_occupation
0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,Below Poverty,Not Married,Own,Not in Labor Force,oxchjgsf,Non-MSA,0.0,0.0,NaN,NaN
1,1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,...,Below Poverty,Not Married,Rent,Employed,bhuqouqj,"MSA, Not Principle City",0.0,0.0,pxcmvdjn,xgwztkwe
2,2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,"<= $75,000, Above Poverty",Not Married,Own,Employed,qufhixun,"MSA, Not Principle City",2.0,0.0,rucpziij,xtkaffoo
3,3,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,...,Below Poverty,Not Married,Rent,Not in Labor Force,lrircsnp,"MSA, Principle City",0.0,0.0,NaN,NaN
4,4,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,...,"<= $75,000, Above Poverty",Married,Own,Employed,qufhixun,"MSA, Not Principle City",1.0,0.0,wxleyezf,emcorrxb

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26707 entries, 0 to 26706
Data columns (total 36 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   respondent_id                26707 non-null  int64
 1   xyz_concern                  26615 non-null  float64
 2   xyz_knowledge                26591 non-null  float64
 3   behavioral_antiviral_meds    26636 non-null  float64
 4   behavioral_avoidance         26499 non-null  float64
 5   behavioral_face_mask         26688 non-null  float64
 6   behavioral_wash_hands        26665 non-null  float64
 7   behavioral_large_gatherings  26620 non-null  float64
 8   behavioral_outside_home      26625 non-null  float64
 9   behavioral_touch_face        26579 non-null  float64
 10  doctor_recc_xyz              24547 non-null  float64
 11  doctor_recc_seasonal         24547 non-null  float64
 12  chronic_med_condition        25736 non-null  float64
 13  child_under_6_months         25887 non-null  float64
 14  health_worker                25903 non-null  float64
 15  health_insurance             14433 non-null  float64
 16  opinion_xyz_vacc_effective   26316 non-null  float64
 17  opinion_xyz_risk             26319 non-null  float64
 18  opinion_xyz_sick_from_vacc   26312 non-null  float64
 19  opinion_seas_vacc_effective  26245 non-null  float64
 20  opinion_seas_risk            26193 non-null  float64
 21  opinion_seas_sick_from_vacc  26170 non-null  float64
 22  age_group                    26707 non-null  object
 23  education                    25300 non-null  object
 24  race                         26707 non-null  object
 25  sex                          26707 non-null  object
 26  income_poverty               22284 non-null  object
 27  marital_status               25299 non-null  object
 28  rent_or_own                  24665 non-null  object
 29  employment_status            25244 non-null  object
 30  hhs_geo_region               26707 non-null  object
 31  census_msa                   26707 non-null  object
 32  household_adults             26458 non-null  float64
 33  household_children           26458 non-null  float64
 34  employment_industry          13377 non-null  object
 35  employment_occupation        13237 non-null  object
dtypes: float64(23), int64(1), object(12)
memory usage: 7.3+ MB

In [5]:
gf=pd.read_csv('test_set_features.csv')
gf.head()

,respondent_id,xyz_concern,xyz_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,...,income_poverty,marital_status,rent_or_own,employment_status,hhs_geo_region,census_msa,household_adults,household_children,employment_industry,employment_occupation
0,26707,2.0,2.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,...,"> $75,000",Not Married,Rent,Employed,mlyzmhmf,"MSA, Not Principle City",1.0,0.0,atmlpfrs,hfxkjkmi
1,26708,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,Below Poverty,Not Married,Rent,Employed,bhuqouqj,Non-MSA,3.0,0.0,atmlpfrs,xqwwgdyp
2,26709,2.0,2.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,...,"> $75,000",Married,Own,Employed,lrircsnp,Non-MSA,1.0,0.0,nduyfdeo,pvmttkik
3,26710,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"<= $75,000, Above Poverty",Married,Own,Not in Labor Force,lrircsnp,"MSA, Not Principle City",1.0,0.0,NaN,NaN
4,26711,3.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,...,"<= $75,000, Above Poverty",Not Married,Own,Employed,lzgpxyit,Non-MSA,0.0,1.0,fcxhlnwr,mxkfnird

In [6]:

df.drop(columns=['employment_industry','employment_occupation','chronic_med_condition','behavioral_avoidance','behavioral_antiviral_meds','health_worker','health_insurance','opinion_seas_sick_from_vacc','census_msa','behavioral_touch_face','behavioral_outside_home','behavioral_large_gatherings','behavioral_wash_hands','behavioral_face_mask','hhs_geo_region'],inplace=True,axis=1)

In [7]:
# replacing values
df['education'].replace(['< 12 Years', '12 Years','Some College','College Graduate'],
                        [0, 1,2,3], inplace=True)

df.head()

,respondent_id,xyz_concern,xyz_knowledge,doctor_recc_xyz,doctor_recc_seasonal,child_under_6_months,opinion_xyz_vacc_effective,opinion_xyz_risk,opinion_xyz_sick_from_vacc,opinion_seas_vacc_effective,...,age_group,education,race,sex,income_poverty,marital_status,rent_or_own,employment_status,household_adults,household_children
0,0,1.0,0.0,0.0,0.0,0.0,3.0,1.0,2.0,2.0,...,55 - 64 Years,0.0,White,Female,Below Poverty,Not Married,Own,Not in Labor Force,0.0,0.0
1,1,3.0,2.0,0.0,0.0,0.0,5.0,4.0,4.0,4.0,...,35 - 44 Years,1.0,White,Male,Below Poverty,Not Married,Rent,Employed,0.0,0.0
2,2,1.0,1.0,NaN,NaN,0.0,3.0,1.0,1.0,4.0,...,18 - 34 Years,3.0,White,Male,"<= $75,000, Above Poverty",Not Married,Own,Employed,2.0,0.0
3,3,1.0,1.0,0.0,1.0,0.0,3.0,3.0,5.0,5.0,...,65+ Years,1.0,White,Female,Below Poverty,Not Married,Rent,Not in Labor Force,0.0,0.0
4,4,2.0,1.0,0.0,0.0,0.0,3.0,3.0,2.0,3.0,...,45 - 54 Years,2.0,White,Female,"<= $75,000, Above Poverty",Married,Own,Employed,1.0,0.0

In [8]:
df.education

0        0.0
1        1.0
2        3.0
3        1.0
4        2.0
        ...
26702    2.0
26703    3.0
26704    2.0
26705    2.0
26706    2.0
Name: education, Length: 26707, dtype: float64

In [9]:
df['race'].replace(['White','Black'],[0,1],inplace=True)
df['sex'].replace(['Male','Female'],[0,1],inplace=True)
df['income_poverty'].replace(['Below Poverty','<= $75,000, Above Poverty'],[0,1],inplace=True)
df['marital_status'].replace(['Not Married','Married'],[0,1],inplace=True)
df['rent_or_own'].replace(['Rent','Own'],[0,1],inplace=True)
df['employment_status'].replace(['Not in Labor Force','Employed'],[0,1],inplace=True)
df.head()

,respondent_id,xyz_concern,xyz_knowledge,doctor_recc_xyz,doctor_recc_seasonal,child_under_6_months,opinion_xyz_vacc_effective,opinion_xyz_risk,opinion_xyz_sick_from_vacc,opinion_seas_vacc_effective,...,age_group,education,race,sex,income_poverty,marital_status,rent_or_own,employment_status,household_adults,household_children
0,0,1.0,0.0,0.0,0.0,0.0,3.0,1.0,2.0,2.0,...,55 - 64 Years,0.0,0,1,0,0.0,1.0,0,0.0,0.0
1,1,3.0,2.0,0.0,0.0,0.0,5.0,4.0,4.0,4.0,...,35 - 44 Years,1.0,0,0,0,0.0,0.0,1,0.0,0.0
2,2,1.0,1.0,NaN,NaN,0.0,3.0,1.0,1.0,4.0,...,18 - 34 Years,3.0,0,0,1,0.0,1.0,1,2.0,0.0
3,3,1.0,1.0,0.0,1.0,0.0,3.0,3.0,5.0,5.0,...,65+ Years,1.0,0,1,0,0.0,0.0,0,0.0,0.0
4,4,2.0,1.0,0.0,0.0,0.0,3.0,3.0,2.0,3.0,...,45 - 54 Years,2.0,0,1,1,1.0,1.0,1,1.0,0.0

In [10]:
from sklearn import preprocessing 
#make an instance of Label Encoder
label_encoder = preprocessing.LabelEncoder()
df['age_group'] = label_encoder.fit_transform(df['age_group'])
df.head()

,respondent_id,xyz_concern,xyz_knowledge,doctor_recc_xyz,doctor_recc_seasonal,child_under_6_months,opinion_xyz_vacc_effective,opinion_xyz_risk,opinion_xyz_sick_from_vacc,opinion_seas_vacc_effective,...,age_group,education,race,sex,income_poverty,marital_status,rent_or_own,employment_status,household_adults,household_children
0,0,1.0,0.0,0.0,0.0,0.0,3.0,1.0,2.0,2.0,...,3,0.0,0,1,0,0.0,1.0,0,0.0,0.0
1,1,3.0,2.0,0.0,0.0,0.0,5.0,4.0,4.0,4.0,...,1,1.0,0,0,0,0.0,0.0,1,0.0,0.0
2,2,1.0,1.0,NaN,NaN,0.0,3.0,1.0,1.0,4.0,...,0,3.0,0,0,1,0.0,1.0,1,2.0,0.0
3,3,1.0,1.0,0.0,1.0,0.0,3.0,3.0,5.0,5.0,...,4,1.0,0,1,0,0.0,0.0,0,0.0,0.0
4,4,2.0,1.0,0.0,0.0,0.0,3.0,3.0,2.0,3.0,...,2,2.0,0,1,1,1.0,1.0,1,1.0,0.0

In [11]:
df['sex'].fillna(df['sex'].mean(),inplace=True)

In [12]:
df.columns

Index(['respondent_id', 'xyz_concern', 'xyz_knowledge', 'doctor_recc_xyz',
       'doctor_recc_seasonal', 'child_under_6_months',
       'opinion_xyz_vacc_effective', 'opinion_xyz_risk',
       'opinion_xyz_sick_from_vacc', 'opinion_seas_vacc_effective',
       'opinion_seas_risk', 'age_group', 'education', 'race', 'sex',
       'income_poverty', 'marital_status', 'rent_or_own', 'employment_status',
       'household_adults', 'household_children'],
      dtype='object')